<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 1</b></span> <br>
Закончите предложение: «Реляционная база данных ― это...»<br><br>
**связанная информация, представленная в виде двумерных таблиц.** верно<br>
информация, хранящаяся в виде пар ключ-значение.<br>
клиент-серверная система, которая реализует стандарт SQL.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 2</b></span> <br>
Закончите предложение: «Оператор SELECT относится к...»<br><br>
**Операторам DML языка SQL.** верно<br>
Операторам DDL языка SQL.<br>
Операторам DCL языка SQL.<br>
Базовым операторам языка SQL.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 3</b></span> <br>
Есть таблица Sales, в которой хранятся данные о продажах магазина. Она имеет следующую структуру:<br><br>
||||
|--|--|---|
|receipt_id|Номер чека|Число|
|date|Дата покупки|Дата|
|cust_id|ID клиента (заполняется, если покупка была совершена с помощью карты лояльности)|Число|
||||

Нам необходимо посмотреть покупки за 31 января 2022 и за 1 февраля 2022. Какое из указанных ниже условий не поможет нам в решении данной задачи?<br><br>

**date = ‘2022-01-31’ and date = ‘2022-02-01’** верно<br>
date = ‘2022-01-31’ or date = ‘2022-02-01’<br>
date in (‘2022-01-31’, ‘2022-02-01’)<br>
date between ‘2022-01-31’ and ‘2022-02-01’<br>
date >= ‘2022-01-31’ and date <= ‘2022-02-01’<br>

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 4</b></span> <br>
Продолжаем работать с таблицей Sales. Что вернёт следующий запрос?

        select receipt_id, date 
        from Sales 
        where cust_id != NULL

Все покупки без карты лояльности (клиенты не указаны).<br>
Ошибку, так как NULL нужно взять в кавычки.<br>
**Ошибку, так как с NULL можно сравнивать только оператором IS.** верно<br>
Все покупки с картой лояльности (клиенты указаны). <br>

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 5</b></span> <br>
Допустим, у нас есть две таблицы с одинаковыми полями (хранят один и тот же вид информации): 

        A {name, description} и B {name, description}.

Какой запрос позволит вывести все поля (отсортированные по первому полю) из этих двух объединённых таблиц без дубликатов?<br><br>


====V===<br>
SELECT *<br>
FROM A<br>
UNION<br>
SELECT *<br>
FROM B<br>
ORDER BY name<br>
====V===



SELECT DISTINCT name, description<br>
FROM A<br>
UNION ALL<br>
SELECT DISTINCT name, description<br>
FROM B<br>
ORDER BY name<br>

SELECT *<br>
FROM A<br>
ORDER BY name<br>
UNION<br>
SELECT *<br>
FROM B<br>
ORDER BY name<br>

SELECT DISTINCT name, description<br>
FROM A<br>
ORDER BY name<br>
UNION ALL<br>
SELECT DISTINCT name, description<br>
FROM B<br>
ORDER BY name<br><br>
Все варианты правильные.<br>
Все варианты неправильные.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 6</b></span> <br>
Выберите верное утверждение для запроса:

        select *
        from t1 F1

Из таблицы t1 отбираются все значения поля F1.<br>
Выводятся все столбцы из таблицы F1, которой присвоен алиас t1.<br>
**Выводятся все столбцы из таблицы t1, которой присвоен алиас F1.** верно<br>
Выводятся все столбцы из таблиц t1 и F1, соединённых без условия (декартово произведение).<br>
Запрос составлен неверно, получим ошибку при выполнении.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 7</b></span> <br>
Что такое JOIN?<br><br>
Операция объединения<br>
Операция группировки<br>
**Операция соединения** верно<br>
Операция создания

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 8</b></span> <br>
Выберите неверное описание типа JOIN:<br><br>
LEFT JOIN возвращает все записи левой таблицы, а для ненайденных пар из правой таблицы проставит значение NULL.<br>
INNER JOIN возвращает только те записи из обеих таблиц, для которых нашлись пары.<br>
**FULL JOIN возвращает только те записи, для которых не нашлось пар.** верно<br>
RIGHT JOIN возвращает все записи правой таблицы, а на место недостающей информации из левой таблицы проставит NULL.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 9</b></span> <br>
Что такое агрегатные функции?<br><br>
Функции, которые фильтруют значения.<br>
Функции, которые соединяют значения.<br>
**Функции, которые работают с набором данных, превращая их в одно итоговое значение.** верно<br>
Функции, которые суммируют все значения.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 10</b></span> <br>
Продолжите фразу: «К агрегатным функциям относятся...»<br><br>
GROUP BY, HAVING, DISTINCT.<br>
MIN, MAX, COUNT, MEAN, SUM.<br>
GROUP BY, HAVING.<br>
**MIN, MAX, COUNT, AVG, SUM.** верно

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 11</b></span> <br>
Давайте вновь поработаем с таблицей Sales (данные о продажах магазина):
||||
|--|--|---|
|receipt_id|Номер чека|Число|
|date|Дата покупки|Дата|
|cust_id	ID|клиента (заполняется, если покупка была совершена с помощью карты лояльности)|Число|
||||


Что выведет следующий запрос?
    
    SELECT cust_id, count(*) cnt
    FROM Sales 
    WHERE date > '2022-01-01'
    HAVING count(*) > 1 
    GROUP BY cust_id

ID клиента и количество его заказов, сделанных после 1 января 2022 года, при условии, что таких заказов больше одного.<br>
Количество клиентов, у которых было больше одного заказа после 1 января 2022 года.<br>
**Ничего, запрос составлен неверно — HAVING указывается после группировки.** верно<br>
Ничего, запрос составлен неверно — WHERE нельзя использовать с GROUP BY.

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 12</b></span> <br>
Напишите запрос, который покажет информацию по трём самым старым фильмам, у которых есть рейтинг. Выведите все столбцы таблицы movies.<br><br>

**Подсказка:** Все столбцы лучше всего вывести через select *.<br><br>

    select *
    from sqlprotest.movies
    where rating is not null
    order by year
    limit 3

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 13</b></span> <br>
Напишите запрос, выводящий для каждого жанра средний рейтинг и количество фильмов этого жанра.<br><br>
Столбцы к выводу:<br><br>
*  genre_name (название жанра),<br>
* average_rating (средний рейтинг),<br>
* movie_count (количество фильмов).

Результат отсортируйте по убыванию среднего рейтинга.


    select
        g.name genre_name,
        avg(rating) average_rating,
        count(m.id) movie_count
    from sqlprotest.genres g
    left join sqlprotest.movie_genres mg on g.id = mg.genre_id
    left join sqlprotest.movies m on m.id = mg.movie_id
    group by g.name
    order by average_rating desc

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 14</b></span> <br>
Напишите запрос, чтобы вывести все названия фильмов и их рейтинги. Если у фильма нет рейтинга, то проставьте 0 в качестве значения рейтинга.<br><br>
Результат отсортируйте по названию фильма в алфавитном порядке.
          
     SELECT
            m.name, m.rating
     FROM sqlprotest.movies m
     WHERE m.rating is not null
     union all
     SELECT
            m.name, 0
     FROM sqlprotest.movies m
     WHERE m.rating is null
     order by 1

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 15</b></span> <br>
Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильмов.<br><br>
Столбцы к выводу:<br><br>
* genre_name (имя жанра)
* movies_count (количество фильмов).
* Результат отсортируйте по убыванию количества фильмов.

        
      select
         g.name genre_name,
         count(*) movies_count
      from sqlprotest.genres g
      join sqlprotest.movie_genres mg on mg.genre_id = g.id
      group by g.name
      having count(*) >= 3
      order by movies_count desc

<style>
  p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; /* Размер шрифта в пунктах */ 
  }
</style>


<span style="color:green"><b>Задание 16</b></span> <br>
Напишите запрос, с помощью которого можно выбрать фильмы, не относящиеся к жанру 'Криминал'. Выведите все столбцы таблицы movies.<br><br>
Результат должен быть отсортирован по названию фильмов в алфавитном порядке.<br><br>
**Подсказка:** Все столбцы лучше всего вывести через select *.
        
        select movies.*
        from sqlprotest.movies
        except
        select movies.*
        from sqlprotest.genres
        join sqlprotest.movie_genres on genres.id = movie_genres.genre_id
        join sqlprotest.movies on movies.id = movie_genres.movie_id
        where genres.name = 'Криминал'
        order by 2